.card {
  background-color: #BECCF0;
  border: 1px solid #ddd;
  border-radius: 13px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 450px;
}

.card-header {
  color: rgb(4, 2, 8);
  border-radius: 4px;
  margin-bottom: 8px;
}

.card-header h5 {
  margin: 0;
}

.indent-items table {
  margin: 0 auto;
  width: 95%;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 14px;
}

.indent-items th {
  color: rgb(249, 249, 249);
}

.indent-items td {
  padding: 3px;
  border-bottom: 1px solid #ddd;
}

.indent-items .item-name,
.indent-items .item-quantity {
  background-color: #ffffff;
}

.indent-description p,
.indent-police-station p {
  padding: 4px 0; /* Add padding top and bottom */
}

.indent-status{
  align-items: right;
}

.indent-status button {
  color: #fff;
  background-color: #E52F2F;
  text-decoration: none;
  padding: 5px 10px;
  margin-right: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-size: 0.9em; /* Made the buttons smaller */
}



body {
  background-color:  #e3e4f0;
  z-index: 2;  
}
